body{
    height: 100vh;
    width:100vw;
    align-content: center;
}
.form{
    height:600px;
    width:500px;
    background-color: aquamarine;
    margin: auto;
    padding-left: 50px;
}
#first_para{
    position: relative;
    top: 15px;
}
#email_para{
    position: relative;
    bottom: 15px;
}
#phone_para{
    position: relative;
    bottom: 30px;
}
#password_para{
    position: relative;
    bottom: 50px;
}
#gender_para{
    position: relative;
    bottom: 60px;
}
#resume_para{
    position: relative;
    bottom: 60px;
}
#textarea_para{
    position: relative;
    bottom: 60px;
}

.name_error{
   font-size: 14px;
   margin-left: 110px;
   color: red;
   position: relative;
   bottom: 5px;
}
#email_error{
    font-size: 14px;
    margin-left: 110px;
    color: red;
    position: relative;
   bottom: 5px;
 }
 #phone_error{
    font-size: 14px;
    margin-left: 110px;
    color: red;
    position: relative;
    bottom: 5px;
 }
 #password_error{
    font-size: 14px;
    margin-left: 110px;
    color: red;
    position: relative;
    bottom: 5px;
 }
 #resume_error{
    font-size: 14px;
    margin-left: 110px;
    color: red;
    position: relative;
    bottom: 5px;
 }
 
 
.border_error{
    border: 3px solid red;
}
h1{
    text-align: center;
    color:blueviolet;
    padding-top: 20px;
}
p{
    font: 20px bold;
}
.input_margin{
    margin-left: 10px;
}
.email_input_margin{
    margin-left: 50px;
}
.phone_input_margin{
    margin-left: 20px;
}
.password_input_margin{
    margin-left: 25px;
}
.gender_input_margin{
    margin-left: 35px;
}
.resume_input_margin{
    margin-left: 35px;
}
.textarea_input_margin{
    margin-left: 35px;
}
#second_radio{
    margin-left: 20px;
}
button{
    border-radius: 10px;
    margin-top: 50px;
    margin-left:150px;
    height:25px;
    width: 100px;
    background-color: blueviolet;
}
textarea{
    position: relative;
    top:10px;
}